<div class="forms" [ngClass]="{'dark-mode': this.countryService.isDark }">
  <div class="input-container shadow">
    <i class="fas fa-search"></i>
    <input type="text" class="input-box" (input)="getAllSearchedCountries($event)" placeholder="Search for a country..."
      [ngClass]="{'dark-mode': this.countryService.isDark }">
  </div>
  <div class="region-container shadow">
    <select class="region-input-box" (change)="getAllSearchedCountriesByRegion($event)"
      [ngClass]="{'dark-mode': this.countryService.isDark }">
      <option selected disabled>Filter By Region</option>
      <option value="all">All</option>
      <option value="Asia">Asia</option>
      <option value="Africa">Africa</option>
      <option value="Europe">Europe</option>
      <option value="Oceania">Oceania</option>
      <option value="Americas">Americas</option>
    </select>
    <i class="fas fa-chevron-down"></i>
  </div>
</div>


<div class="country-countainer mt-5" [ngClass]="{'dark-mode': this.countryService.isDark }">
  <app-country *ngFor="let country of countries$ | async" [country]="country"></app-country>
</div>