<div class="c">
  <button class="back-button " (click)="goBackToHomepage()"> &larr; Button</button>

  <div class="detail-container">
    <img [src]="country.flag" alt="" class="detail-image">
    <div class="detail-content">

      <h1 class="country-name">{{country.name}}</h1>
      <div class="details">
        <p><span class="bold-header">Native Name:</span> <span class="bold-header-value"> {{country.nativeName}} </span>
        </p>
        <p><span class="bold-header">Population:</span><span class="bold-header-value"> {{country.population}} </span>
        </p>
        <p><span class="bold-header">Region:</span> <span class="bold-header-value"> {{country.region}} </span></p>
        <p><span class="bold-header">Sub region:</span> <span class="bold-header-value"> {{country.subregion}} </span>
        </p>
        <p><span class="bold-header">Capital:</span><span class="bold-header-value"> {{country.capital}} </span></p>
        <p><span class="bold-header">Top Level Domain:</span> <span class="bold-header-value">
            {{country.topLevelDomain[0]}} </span>
        </p>
        <p><span class="bold-header">Currencies:</span> <span class="bold-header-value"> {{country.currencies[0].name}}
          </span>
        </p>
        <p class="d-flex"><span class="bold-header">Languages:&nbsp; </span> <span class="bold-header-value"
            *ngFor="let lang of country.languages"> {{lang.name}},&nbsp;
          </span></p>
      </div>
      <!-- <div class="border">
      <p class="d-flex"><span class="bold-header">Border Countries:&nbsp; </span> <span class="bold-header-value"
          *ngFor="let c of getBorderCountries(country)"> {{c}},&nbsp;
        </span></p>
    </div> -->

    </div>
  </div>

</div>
